{% extends 'base.html.twig' %}
{% block title %}Лобби
{% endblock %}
{% block head %}
	<link rel="stylesheet" href="/style/styleLobbyPage.css">
{% endblock %}
{% block content %}
	<div class="container">
		<div class="intro">
			<div class="intro__players">
				{% for user in users %}
					<div class="intro__player" id="{{ user.id }}">
						<img src="../images/{{ user.color_flag }}Flag200x200.png" id="{{user.color_flag}}" alt="Описание картинки" class="flag-image">
						<div class="block__user-name">
							<span class="user-name">{{ user.name }}</span>
						</div>
						<span class="player__status player__status_{{ user.status }}">{{ user.status }}</span>
						<span class="readiness{% if user.readiness == 'Не готов' %} not_ready{% elseif user.readiness == 'Готов' %} ready{% endif %}" id="readiness_{{ user.id }}">
							{{ user.readiness }}
						</span>
					</div>
				{% endfor %}
			</div>
			<div class="intro__block">
				<div class="intro__lobby">
					<div class="intro__head">
						<h1 class="intro__header">Лобби</h1>
						<div class="intro__menu">
							<form action="">
								<button type"submit" class="intro__settings"></button>
							</form>
							<div class="intro__logout">
								<button  class="intro__but logout" id="quit_button">
									<span class="button-text">Выйти</span>
									<img src="../images/home.jpg" alt="Описание картинки" class="button-image">
								</button>
							</div>
						</div>
					</div>
					<div class="intro__block-code">
						<p class="intro__code">{{ keyRoom }}</p>
					</div>
				</div>
				<div class="intro__player-readiness">
					<button type="submit" id="button_readiness" class="intro__but play">
						<span id ="readiness" class="button-text2">{{ user_readiness }}</span>
					</button>
				</div>
				{% if user_status == 'host' %}
					<div class="intro__play">
						<button type="submit" class="intro__but play" id="button_start_game">
							<span class="button-text2">Начать игру</span>
							<img src="../images/sword.svg" alt="Описание картинки" class="button-image2">
						</button>
					</div>
				{% endif %}
			</div>
		</div>
	</div>	
{% endblock %}
{% block javascripts %}
	<script type="text/javascript" src="/script/websocket/lobby.js"></script>
{% endblock %}
